.account
  - flash.each do |key, value|
    = content_tag :div, value, class: 'home__up_notice_text'
  .account-top
    .account-top__application-name MeTALK
  .account-edit
    = form_for @user_info, url: user_path(@user_info) do |f|
      .account-main__title
        %p.account-main__title_size
          変更する
      .account-main__avatar
        = f.label :avatar, class: 'account-main__avatar-field' do
          = f.file_field :avatar, class: 'account-main__avatar-field_main'
          = image_tag @user_info.avatar, class: 'account-main__avatar-field'
      .account-main__username
        = f.text_field :name, autofocus: true, placeholder: 'ニックネーム', type: 'text', class: 'field'
      .account-main__email
        = f.email_field :email, placeholder: 'メールアドレス', type: 'text', class: 'field'
      .account-main__password
        = f.password_field :password, autocomplete: "off", placeholder: 'パスワード', type: 'password', class: 'field'
      .account-main__password-confirm
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード確認',type: 'password', class: 'field'
      .account-main__submit
        = f.submit "変更", class: 'account-main__submit-btn'
