.account-page
  .account-page__login
    = render "devise/shared/links"
  .account-page__main
    %h2.account-page__main-name ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .field-input
          = f.email_field :email, placeholder: 'メールアドレス', autofocus: true, autocomplete: "email", class: 'field-input'
      .field
        .field-input
          = f.password_field :password, placeholder: 'メールアドレス', autocomplete: "current-password", class: 'field-input'
      .actions
        = f.submit "ログイン", class: 'account-submit'
