.home-main__user
  .home-main__user-image
    = image_tag current_user.avatar, class: 'home-main__user-image_box'
  .home-main__user-info
    .home-main__user-info_name
      %span.up__name
        = current_user.name
    .home-main__user-info_edit
      = link_to '編集', edit_user_path(current_user.id), class: "home-main__user-info_edit-btn"
    .home-main__user-info_username
      %span.up__username
        USERNAME
    .home-main__user-info_btn
      %span.up__btn
        FOLLOW
  .home-main__user-bottom
    %ul
      %li.home-main__user-bottom_box
        %p#info-text
          Follow
        %p#info-num
          none
      %li.home-main__user-bottom_box
        %p#info-text
          Follower
        %p#info-num
          none
      %li.home-main__user-bottom_box
        %p#info-text
          Post
        %p#info-num
          = current_user.posts.count
      %li.home-main__user-bottom_box
        = link_to  user_diaries_path(current_user), class: "home-main__user-bottom_box-color" do
          %p#info-text
            Diary
          %p#info-num
            = current_user.diaries.count
