- current_user.posts.each do |post|
  .home-main__post-text
    .home-main__post-text_text
      .home-main__post-text_text-top
        .post__image
        .post__username
          %span.post__username_text
            = current_user.name
        .post__time
          %span.post__time_text
            = l(post.created_at, format: :short)
      .home-main__post-text_text-mid
        .post__main
          %span.post__main_text
            = post.body
      .home-main__post-text_text-bottom
        - if user_signed_in? && current_user.id == post.user_id
          .home-main__post-text_text-bottom__edit
            = link_to '編集', edit_user_post_path(current_user.id, post), class: "home-main__post-text_text-bottom__edit-btn"
          .home-main__post-text_text-bottom__delete
            = link_to '削除', user_post_path(current_user.id, post), method: :delete, class: "home-main__post-text_text-bottom__delete-btn",data: {confirm: '本当に削除しますか？'}
    .home-main__post-text_menu
