.home
  .home__up
    .home__up_notice
      .home__up_notice_box
        = render 'layouts/notice'
    .home__up_search
    .home__up_signout
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "home__up_signout__text"
    .home__up_post
      = link_to '投稿', new_user_post_path(current_user.id), method: :get, class: "home__up_post__link"

  .home-main
    = render partial: 'home'

    .home-main__post
      = render partial: 'text'
